<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Sugoi Web Translation</title>
	<meta content="text/html; charset=utf-8">
	<script src="../js/vendor/vue.js"></script>
</head>
<body style="width: 400px;">
	<div id="app">
		<div>
			<label>
				Enabled: <input type="checkbox" v-model="enabled">
			</label>
		</div>
		<div>
			<label>
				Always Translate: <input type="checkbox" v-model="alwaysTranslate">
			</label>
		</div>
		<div>
			Translator:
			<label>
				<input type="radio" v-model="mode" v-bind:value="constants.MODE_SUGOI">
				Sugoi
			</label>

			<label>
				<input type="radio" v-model="mode" v-bind:value="constants.MODE_DEEPL">
				DeepL
			</label>
		</div>
		<div v-show="mode === constants.MODE_SUGOI">
			<div style="font-weight: bold;">Sugoi</div>
			<div>
				<label>
					Server Port:
					<input name="port" type="number" v-model="port" min="1">
				</label>
			</div>
			<div>
				<label>
					Concurrent Requests:
					<input name="requests" type="number" v-model="requests" min="1">
				</label>
			</div>
		</div>
		<div v-show="mode === constants.MODE_DEEPL">
			<div style="font-weight: bold;">DeepL</div>
			<div>
				<label>
					API key:
					<input name="deepl_key" type="text" v-model="deepl_key" style="width: 340px;">
				</label>
			</div>
			<div>
				Mode:
				<label>
					<input type="radio" v-model="deepl_free" v-bind:value="true">
					Free
				</label>

				<label>
					<input type="radio" v-model="deepl_free" v-bind:value="false">
					Pro
				</label>
			</div>
			<div>
				<label>
					Texts per request:
					<input name="deepl_texts_per_request" type="number" v-model="deepl_texts_per_request" min="1" max="50" style="width: 40px;">
				</label>
			</div>
		</div>
	</div>

	<textarea id="output" style="width: 100%; height: 500px;">

	</textarea>

	<script>
	const html = document.getElementById('app').innerHTML;
	const compiled = Vue.compile('<div>' + html + '</div>');
	console.log(compiled.render);
	document.getElementById('output').value = compiled.render.toString();
	</script>
</body>
</html>